.home-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-body {
  width: 100%;
}

.blog-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-item {
  background-color: var(--purple-shadow);
  padding: 1px 0 1px 0;
  margin: 5px 0 5px 0;
  width: 50%;
  border: 1px solid black;
  border-radius: 0.5em;
}
