.landing_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-2);
}

.banner {
  height: 100vh;
  background-color: rgba(7, 36, 74, 0.824);
}

.landing_main {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#box1 {
  width: 530px;
  height: 540px;
  background-image: url("../../assets/man-reading-red.png");
  position: absolute;
  bottom: -100%;
  left: 35%;
  animation: anim 2s forwards, anim2 3s forwards 3s;
}

#box1:after {
  content: "";
  position: absolute;
  width: 530px;
  height: 540px;
  background-image: url("../../assets/man-reading-color.png");
  left: 0;
  z-index: -1;
}

@keyframes anim {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0%;
  }
}

@keyframes anim2 {
  from {
    left: 35%;
    width: 530px;
  }
  to {
    width: 0px;
    left: 55%;
  }
}

#box2 {
  width: 100%;
  height: 50vh;
  font-family: var(--font-1);
  color: white;
  font-size: 8em;
  font-weight: 500;
  position: absolute;
  top: 2em;
  left: 7%;
  overflow: hidden;
}

#text {
  text-align: left;
  position: absolute;
  left: -100%;
  animation: anim3 2s forwards 3s;
}

#box2a {
  width: 60%;
  height: 30vh;
  font-family: var(--font-2);
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  position: absolute;
  top: 18em;
  left: 7%;
  overflow: hidden;
}

#sub_text {
  text-align: left;
  position: absolute;
  top: -100%;
  animation: anim5 2s forwards 3s;
}

@keyframes anim3 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes anim5 {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

#box3 {
  overflow: hidden;
}

#nav_container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -100%;
  animation: anim4 2s forwards 2.5s;
  background: linear-gradient(
    180deg,
    rgb(3, 30, 66, 0.8) 0%,
    rgba(3, 31, 68, 0.7) 20%,
    rgba(3, 31, 68, 0.5) 60%,
    transparent 100%
  );
  position: fixed;
}

@keyframes anim4 {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

#logo {
  float: left;
  margin-left: 6em;
}

#logo img {
  width: 3em;
  padding: 0.1em;
  border-radius: 25px;
}
#logo img:hover {
  cursor: pointer;
}

#scroll_down_icon {
  display: none;
  position: absolute;
  bottom: 0;
  left: 45%;
}

#scroll_down_icon:hover {
  cursor: pointer;
}

#scroll_down_icon p {
  margin: 0;
  font-size: 0.8em;
  color: #ffffff60;
}

/* MENU */

#menu {
  font-family: var(--font-2);
  color: white;
  letter-spacing: 0.8px;
  margin-right: 10%;
  float: right;
}

#menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

#menu ul li {
  display: inline-block;
  margin-left: 5vw;
}

#menu ul li button {
  padding: 0.3em 1vw 0.3em 1vw;
  border: transparent;
  border-radius: 25px;
  font-size: 0.8em;
  background-color: transparent;
  color: white;
  font: var(--font-2);
}

#menu ul li button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

#menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 1vw;
  border-radius: 25px;
  background-color: transparent;
  border: none;
}

#menu_btn p {
  font-family: var(--font-2);
  margin: 0;
  margin-right: 10px;
}

#menuicon {
  height: 32px;
  width: 50px;
}
#menu_btn:hover {
  cursor: pointer;
}

#line1,
#line2,
#line3 {
  height: 4px;
  width: 40px;
  background-color: white;
  transition: all 0.3s;
}

#line2 {
  width: 50px;
  margin-top: 8px;
}

#line3 {
  margin-top: 8px;
}

/* animation for hover or press */
#menu_btn:hover #line1,
#menu_btn:hover #line3 {
  width: 50px;
}
#menu_btn:hover #line2 {
  width: 40px;
}

/* TEMP MENU SCREEN */

#mobile_menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

#mainmenu {
  height: 100vh;
  width: 100%;
  background: #231955;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
  position: fixed;
  top: 100%;
  left: 0px;
  transition: all 0.77s cubic-bezier(0.5, 0.1, 0.9, 0.1);
  z-index: 999;
}

#layer2 {
  height: 100vh;
  width: 100%;
  background: #e8aa42;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
  position: fixed;
  top: 100%;
  left: 0px;
  transition: all 0.77s cubic-bezier(0.5, 0.1, 0.9, 0.2);
  z-index: 99;
}

#mainmenu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

#mainmenu ul li {
  margin: 20px;
  position: relative;
  top: 50px;
  opacity: 0;
  transition: all 0.6s;
}

#mainmenu ul li button {
  /* background-color: grey; */
  background-color: transparent;
  border-radius: 25px;
  border: none;
  padding: 0.2em 0.4em;
  color: white;
  font-size: 3em;
  font-family: var(--font-1);
  transition: all 0.6s ease;
}

#mainmenu ul li button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

#mainmenu ul li:nth-child(1) {
  transition-delay: 0.7s;
}
#mainmenu ul li:nth-child(2) {
  transition-delay: 0.8s;
}
#mainmenu ul li:nth-child(3) {
  transition-delay: 0.9s;
}
#mainmenu ul li:nth-child(4) {
  transition-delay: 1s;
}
#mainmenu ul li:nth-child(5) {
  transition-delay: 1.1s;
}
#mainmenu ul li:nth-child(6) {
  transition-delay: 1.2s;
}

#close {
  position: absolute;
  top: 10vh;
  right: 10%;
  border: 2px solid white;
  display: flex;
  border-radius: 3em;
  padding: 0.5em;
  transition: all 0.4s;
}
#close:hover {
  cursor: pointer;
  background-color: white;
}

#close #icon {
  transition: all 0.4s;
  color: white;
  font-size: 3.5em;
}

#close:hover #icon {
  color: black;
}

/* Trending Blogs */
.trending {
  border: 0px solid black;
  border-top-width: 5px;
  margin-bottom: 2em;
}

.trending h3 {
  text-align: left;
  width: 95%;
  margin: 1em auto;
  display: flex;
  align-items: center;
  font-size: larger;
}

#trending_icon {
  font-size: larger;
  border: 2px solid black;
  border-radius: 25px;
  padding: 1px;
  margin-right: 1%;
}

.grid_container {
  margin: auto;
}

.grid_container .card {
  width: 90%;
  margin: 1em auto;
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(14, 30, 37, 0.06) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.2) 0px 2px 16px 0px;
  border-radius: 8px;
}

.grid_container .card:hover {
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.grid_container button {
  font-size: 1.3em;
  margin-top: 1em;
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 14px;
  border: none;
  padding: 0.5em 1em;
  color: rgb(89, 89, 89);
}

.grid_container button:hover {
  cursor: pointer;
  color: black;
}

.card_heading {
  display: flex;
  align-items: center;
  margin: 0.4em 5%;
}

.card_heading img {
  width: 22px;
  height: 22px;
  border-radius: 25px;
}

.card_heading p {
  margin: 0;
  margin-left: 3%;
}
.card h4 {
  text-align: left;
  margin: 0;
  margin-left: 5%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card_footer {
  display: flex;
  margin: 0.4em 5%;
}

.card_footer p {
  margin: 0;
  color: rgb(89, 89, 89);
}

@media only screen and (min-width: 900px) {
  .grid_container .card {
    float: left;
    width: 48%;
    margin: 0.5em 1%;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: rgb(89, 89, 89);
  border: 0px solid black;
  border-top-width: 1px;
  margin-bottom: 1em;
}

.footer button {
  margin: 0 1%;
  font-family: var(--font-2);
  font-size: 1em;
  color: rgb(89, 89, 89);
  background-color: transparent;
  border: none;
  display: flex;
  padding: 0.2em 0.4em;
}

.footer button:hover {
  cursor: pointer;
  color: black;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {
  #mainmenu ul li button {
    font-size: 2.5em;
  }
  #mainmenu ul {
    left: 5%;
  }

  #close #icon {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 720px) {
  .hide_for_mobile {
    visibility: hidden;
    position: absolute;
  }

  #logo {
    margin-left: 10%;
  }

  #mainmenu ul li button {
    font-size: 1.5em;
  }
  #mainmenu ul {
    left: 2%;
  }

  #close #icon {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  #box1 {
    width: 318px;
    height: 324px;
    left: -5%;
    background-size: cover;
  }

  #box1:after {
    width: 318px;
    height: 324px;
    background-size: cover;
  }

  @keyframes anim {
    from {
      bottom: -100%;
    }
    to {
      bottom: 20%;
    }
  }

  @keyframes anim2 {
    from {
      left: -5%;
      width: 318px;
    }
    to {
      width: 0px;
      left: 20%;
    }
  }

  #box2 {
    height: 10vh;
    font-size: 3em;
    font-weight: 500;
    top: 5em;
  }

  #box2a {
    width: 90%;
    height: 5em;
    font-size: 1.3em;
    top: 15em;
  }

  .grid_container .card {
    width: 98%;
  }

  .footer {
    font-size: 1em;
  }

  #scroll_down_icon {
    left: 38%;
  }
}
