.toolbar_container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 0px solid grey;
  border-bottom-width: 1px;
  height: 5em;
  z-index: 10;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.toolbar_container .section_1,
.toolbar_container .section_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}

.section_1 p {
  margin-left: 5%;
}

.toolbar_logo {
  height: 4em;
}

.toolbar_container .section_2 {
  justify-content: space-evenly;
  width: 20%;
}

.toolbar_container .section_2 .publish_btn {
  background-color: var(--blue-1);
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  color: white;
  font-weight: 400;
  font-size: 0.9em;
}

.toolbar_container .section_2 .publish_btn:hover {
  background-color: var(--blue-2);
  cursor: pointer;
}

.toolbar_container .section_2 .tool_btn {
  background-color: transparent;
  border: transparent;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: rgb(97, 97, 97);
}

.toolbar_container .section_2 .tool_btn:hover {
  cursor: pointer;
  color: black;
}

.tooltip_modal {
  width: 14%;
  text-align: left;
}

.tooltip_modal a {
  font-size: 1.3em;
  color: rgb(89, 89, 89);
  text-decoration: none;
}

.tooltip_modal a:hover {
  color: black;
}
.tooltip_modal br {
  margin: 0.7em 0 0.7em 0;
}
.tooltip_modal hr {
  border: solid rgb(204, 204, 204);
  border-width: 0.5px;
}

.toolbar_profile_pic {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100px;
}

@media screen and (max-width: 720px) {
  .toolbar_container {
    justify-content: space-between;
  }

  .hide_for_mobile {
    visibility: hidden;
    position: absolute;
  }

  .toolbar_container .section_2 {
    justify-content: center;
  }
}

@media screen and (max-width: 1080px) {
  .toolbar_container .section_2 {
    width: 30%;
  }
}
