.profile_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile_body {
  width: 100%;
  margin-bottom: 400px;
}

.responsive_width {
  width: 70%;
  margin: auto;
}

.tab_menu {
  display: flex;
  margin-top: 2em;
  border-bottom: 1px solid lightgray;
}

.tab_menu p {
  margin-bottom: 1em;
  position: relative;
}

.tab_menu p:hover {
  cursor: pointer;
}

.tab_menu .selected:after {
  content: "";
  background-color: black;
  display: block;
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: -1em;
}

.selected_tab {
  margin-top: 2.5em;
}
.about_section {
  position: relative;
}
.about_section textarea {
  text-align: left;
  font-family: var(--font-1);
  font-size: larger;
  width: 100%;
  height: 8em;
  resize: none;
  outline: none;
}

.save_btn {
  background-color: var(--blue-1);
  color: white;
  font-size: 1.2em;
  padding: 0.3em 0.6em;
  border-radius: 40px;
  border: none;
}

.save_btn:hover {
  background-color: var(--blue-2);
  cursor: pointer;
}

.about_footer {
  border-top: 1px solid lightgray;
  margin-top: 2.5em;
}

.follower_btn {
  background-color: transparent;
  border: none;
  color: var(--blue-1);
  font-size: 1.1em;
  border-radius: 25px;
  padding: 0.2em 0.6em;
  margin-right: 1em;
}

.follower_btn:hover {
  color: var(--blue-2);
  cursor: pointer;
}

.social_links {
  margin-top: 1em;
  /* background-color: red; */
  display: flex;
}

.add_links_btn {
  font-size: 1em;
  color: rgb(89, 89, 89);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.8em;
  border-radius: 5em;
  border: none;
}

.add_links_btn:hover {
  color: black;
  cursor: pointer;
}

.social_links .editor {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
  padding: 1em;
}

.input_wrapper {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.input_wrapper input {
  width: 50%;
  min-width: 15em;
  margin: 0 2%;
  padding: 0.4em;
  font-size: 0.9em;
  font-family: var(--font-2);
}

.cancel_btn {
  margin-right: 2%;
  background-color: transparent;
  color: grey;
  font-size: 1.1em;
  padding: 0.3em 0.6em;
  border-radius: 40px;
  border: none;
}

.cancel_btn:hover {
  color: black;
  cursor: pointer;
}

.disabled {
  background-color: lightgray;
}

.disabled:hover {
  cursor: default;
  background-color: lightgray;
}

.your_links {
  /* background-color: red; */
  display: flex;
  align-items: center;
  width: 100%;
}

.link_icon {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: grey;
  padding: 0.3em;
  border-radius: 10em;
  border: none;
  margin: 0 1%;
  background-color: transparent;
}

.link_icon:hover {
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .profile_container {
    padding-top: calc(var(--navbar-mobile-height) - 10px);
  }
}

@media screen and (max-width: 720px) {
  .responsive_width {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .responsive_width {
    width: 95%;
  }
}
