.drop-zone-container {
  width: 100%;
  height: 100%;
}

.wrapper {
  border: dashed 2px rgb(0, 191, 255);
  width: 100%;
  height: 100%;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.wrapper p {
  word-wrap: break-word;
  white-space: initial;
  /* background-color: red; */
  font-size: large;
  text-align: center;
  width: 100%;
  /* color: rgb(0, 191, 255); */
}
