.navbar-body {
  position: sticky;
  top: 0;
  background-color: var(--white-1);
  background-image: linear-gradient(to right, white, var(--white-1));
  /* border-right: 0.05mm solid grey; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 0.5em;
  height: 100vh;
  box-sizing: border-box;
  width: var(--navbar-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 0 1em 0;
}

.home-link p {
  background-color: var(--purple-1);
  color: white;
  height: 4em;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu ul {
  list-style: none;
  padding: 1em 0 1em 0;
}

.navbar-link {
  height: 100%;
  background-color: white;
  color: var(--purple-1);
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-link:hover {
  box-shadow: var(--purple-shadow) 0px 3px 8px;
}

li a {
  display: block;
  width: 3.3em;
  height: 3em;
  margin: 1.2em auto 1.2em auto;
  border: 1px solid transparent;
  border-radius: 25%;
}

/* HARDCODED FOR NOW */
.profile-nav img {
  width: 65px;
  height: 65px;
}

.show-for-mobile {
  display: none;
}

@media screen and (max-width: 1080px) {
  .hide-for-mobile {
    display: none;
  }
  .show-for-mobile {
    display: block;
  }

  .navbar-container {
    height: var(--navbar-mobile-height);
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 5;
    background-color: white;
    box-shadow: 1em 1em 1em 1em rgba(155, 155, 155, 0.486);
  }

  .navbar-body {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .navbar-menu {
    height: 100%;
  }

  .navbar-menu ul {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
