.navbar_body {
  position: sticky;
  top: 0;
  background-color: var(--white-1);
  background-image: linear-gradient(to right, white, var(--white-1));
  /* border-right: 0.05mm solid grey; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 0.5em;
  height: 100vh;
  box-sizing: border-box;
  width: var(--navbar-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 0 1em 0;
}

.home_link {
  background-color: white;
}

.home_link img {
  height: 100%;
  width: 100%;
}

.brand_logo a {
  text-decoration: none;
}

.navbar_menu ul {
  list-style: none;
  padding: 1em 0 1em 0;
}

.navbar_link {
  height: 100%;
  background-color: white;
  color: var(--blue-1);
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_link:hover {
  box-shadow: var(--purple-shadow) 0px 3px 8px;
}

.navbar_menu ul li a {
  display: block;
  width: 3.3em;
  height: 3em;
  margin: 0.4em auto;
  border: 1px solid transparent;
  border-radius: 25%;
}

/* HARDCODED FOR NOW */
.profile_nav img {
  width: 55px;
  height: 55px;
  border-radius: 120%;
  border: 1px solid black;
}

.show_for_mobile img {
  width: 45px;
  height: 45px;
}

.show_for_mobile {
  display: none;
}

/* NAVBAR TOP PART */

.nav_top {
  background-color: white;
  width: 100vw;
  height: calc(var(--navbar-mobile-height) - 10px);
  position: fixed;
  top: 0;
  box-shadow: rgba(100, 100, 100, 0.16) 0px 3px 6px,
    rgba(100, 100, 100, 0.23) 0px 3px 6px;
  visibility: hidden;
  display: flex;
  z-index: 10;
}

.home_link_mobile {
  width: 4em;
  margin-left: 1em;
}

@media screen and (max-width: 1080px) {
  .hide_for_mobile {
    display: none;
  }
  .show_for_mobile {
    display: block;
    visibility: visible;
  }

  .navbar_container {
    height: var(--navbar-mobile-height);
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 1em 1em 1em 1em rgba(155, 155, 155, 0.486);
  }

  .navbar_body {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .navbar_menu {
    height: 100%;
  }

  .navbar_menu ul {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.nav_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mobile_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8%;
  padding: 0.3em;
  border-radius: 100%;
  color: var(--blue-2);
}
#mobile_menu:hover {
  cursor: pointer;
  color: black;
}

.tooltip_modal {
  text-align: left;
  width: 15%;
}

.tooltip_modal a {
  font-size: 1.5em;
  color: rgb(89, 89, 89);
  text-decoration: none;
}

.tooltip_modal a:hover {
  color: black;
}
.tooltip_modal br {
  margin: 0.7em 0 0.7em 0;
}

@media screen and (max-width: 480px) {
  .tooltip_modal {
    padding: 1em 2%;
  }
  .tooltip_modal a {
    font-size: 1.2em;
  }
}
