.blog_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 70%;
  margin: auto;
  margin-top: 2em;
}

.author_img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 1%;
  border: 1px solid lightgray;
}

.options_btn {
  margin-right: 1%;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: rgb(158, 158, 158);
}

.options_btn:hover {
  cursor: pointer;
  color: black;
}

.header_section_1 {
  min-width: 40%;
  margin-left: 3%;
}

.author_fullname {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
  line-height: 1.6em;
  text-align: left;
}

.follow_btn {
  background-color: var(--blue-1);
  color: white;
  padding: 0.3em 0.6em;
  border-radius: 12px;
  border: none;
  margin-left: 4%;
  visibility: hidden;
}

.follow_btn:hover {
  background-color: var(--blue-2);
  cursor: pointer;
}

.header_section_2 {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share_btns {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  padding: 0.4em;
  margin: 0 2%;
  color: rgb(158, 158, 158);
}

.share_btns:hover {
  cursor: pointer;
  color: black;
}

.mobile_share_btns {
  width: 70%;
  margin: auto;
  display: flex;
  visibility: hidden;
  position: absolute;
}

.save_btn_mobile {
  border: 1px solid rgb(158, 158, 158);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  padding: 0 0.5em;
}

.blog_title {
  width: 70%;
  margin: auto;
  text-align: left;
  font-size: 2.6em;
  font-weight: bold;
  padding-left: 2%;
  margin-top: 10px;
}

.blog_body {
  width: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {
  .follow_btn {
    visibility: visible;
  }
}
@media screen and (max-width: 720px) {
  .blog_header {
    width: 80%;
  }
  .mobile_share_btns {
    width: 80%;
  }
  .blog_title {
    width: 80%;
  }
  .header_section_1 {
    min-width: 15em;
  }

  .header_section_2 {
    visibility: hidden;
    position: absolute;
  }

  .mobile_share_btns {
    visibility: visible;
    position: static;
  }
}

@media screen and (max-width: 600px) {
  .blog_header {
    width: 95%;
  }
  .mobile_share_btns {
    width: 95%;
  }
  .blog_title {
    width: 95%;
  }

  .header_section_1 {
    min-width: 12em;
  }
}
