.blog-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog-body {
  width: 100%;
}

.Draftail-Editor .DraftEditor-root {
  color: black;
}

.Draftail-Editor--readonly {
  opacity: 1;
}
