.blog_body .Draftail-Editor {
  border: none !important;
  width: 70% !important;
  margin-top: 1em !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.blog_body .Draftail-Editor.DraftEditor-root {
  color: black;
}

.Draftail-Editor--readonly .DraftEditor-editorContainer {
  opacity: 1;
}

@media screen and (max-width: 720px) {
  .blog_body .Draftail-Editor {
    width: 80% !important;
  }
}

@media screen and (max-width: 600px) {
  .blog_body .Draftail-Editor {
    width: 95% !important;
  }
}
