.write-blog-container {
  display: block;
  width: 100%;
}

.blog-title {
  width: 70%;
}

.Draftail-Toolbar {
  background: transparent !important;
  border: none !important;
} /* Override default */
.Draftail-Editor {
  border: none !important;
  width: 60% !important;
  margin-top: 100px !important;
  margin-left: auto !important;
  margin-right: auto !important;
} /* Override default */
.public-DraftEditor-content {
  font-family: var(--font-1);
} /* Override default */
.public-DraftEditorPlaceholder-inner {
  font-family: var(--font-1);
}

@media screen and (max-width: 1080px) {
  .Draftail-Editor {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
}

/* Preview */

.preview-container {
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
