.write-blog-container {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-top: 5em;
}

.blog-title {
  margin-top: 1em;
  width: 70%;
  min-height: 100px;
  /* background-color: red; */
  border: none;
  font-size: 2em;
  text-align: left;
  color: black;
  resize: none;
  outline: none;
  font-family: var(--font-1);
}

.Draftail-Toolbar {
  background: transparent !important;
  border: none !important;
} /* Override default */
.draftail-parent .Draftail-Editor {
  border: none !important;
  width: 70% !important;
  margin-top: 0.5em !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 200px;
} /* Override default */
.public-DraftEditor-content {
  font-family: var(--font-1);
} /* Override default */
.public-DraftEditorPlaceholder-inner {
  font-family: var(--font-1);
}

.write-blog-image {
  width: 50vw;
  height: auto;
  max-height: 40vw;
  margin-left: 0;
  border-radius: 10px;
}

.write-blog-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-blog-img-text {
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

.write-blog-image:hover {
  opacity: 0.65;
  cursor: pointer;
  border: 2px dashed grey;
}

.wb-img-container:hover .update-blog-img-text {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 720px) {
  .draftail-parent .Draftail-Editor {
    width: 100% !important;
    /* margin-left: 10% !important; */
    /* margin-right: 10% !important; */
  }
  .blog-title {
    width: 95%;
    margin: 0;
    margin-top: 1em;
    font-size: 1.5em;
  }

  .write-blog-image {
    width: 80vw;
    height: auto;
    max-height: 64vw;
  }

  .wb-img-container:hover .update-blog-img-text {
    visibility: hidden;
  }
}

.write-blog-body .blog-image-upload {
  /* margin: auto; */
  width: 70%;
}

.wb-img-container {
  position: relative;
  text-align: center;
}

.update-blog-mobile-text {
  color: blue;
  text-decoration: underline;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.update-blog-mobile-text:hover {
  cursor: pointer;
}

/* Preview */

.preview-container {
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Draftail-block--blockquote {
  border: 0px solid black;
  border-left-width: 2px;
  margin: auto 0;
  padding: 0.5em 0 0.5em 5%;
}

.Draftail-block--code-block {
  border: 1px solid lightgrey;
  padding: 0.5em 2%;
  border-radius: 4px;
  font-weight: 100;
}
