:root {
  /* Colors */
  --orange-1: rgb(255, 136, 0);
  --black-1: hsl(0, 0%, 15%);
  --purple-1: rgb(66, 8, 255);
  --purple-shadow: rgba(4, 50, 255, 0.219);
  --white-1: rgb(235, 235, 235);

  /* Vars */
  --navbar-width: 85px;
  --navbar-mobile-height: 75px;
  --sidebar-width: 40%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: "Source Sans Pro", "Merriweather", sans-serif;
}

@media screen and (max-width: 1080px) {
  .App {
    margin-bottom: var(--navbar-mobile-height);
  }
}
