:root {
  /* Colors */
  /* main blue: rgb(24, 53, 181); */
  --orange-1: rgb(255, 136, 0);
  --black-1: hsl(0, 0%, 15%);
  --purple-1: rgb(66, 8, 255);
  --purple-2: rgb(43, 1, 180);
  --blue-1: rgb(24, 53, 181);
  --purple-shadow: rgba(4, 50, 255, 0.219);
  --white-1: rgb(235, 235, 235);

  /* Vars */
  --navbar-width: 85px;
  --navbar-mobile-height: 75px;
  --sidebar-width: 40%;

  /* Fonts */
  --font-1: "Merriweather", Georgia, "Times New Roman", Times, serif;
  --font-2: "Source Sans Pro", "Merriweather", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: var(--font-2);
}

@media screen and (max-width: 1080px) {
  .App {
    margin-bottom: var(--navbar-mobile-height);
  }
}

.invalid-route {
  font-size: 3em;
  color: red;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
}
